.item-details {
    background-color: #f8f9fa;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.item-header,
.item-image {
    margin-bottom: 20px;
}

.image-row {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.image-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container {
    width: 100%;
    max-width: 150px;
    height: 150px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #f8f8f8;
}

.item-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.no-image {
    font-size: 12px;
    color: #888;
    text-align: center;
}

.item-header h5,
.item-image h5 {
    color: #343a40;
}
.item-general{
    display: flex;
    flex-wrap: wrap;
}

.item-general p {
    margin: 5px 15px;
    font-size: 16px;
    color: #2c3e50;
}

.item-image img {
    max-width: 30%;
    height: 50%;
    border-radius: 8px;
}

.topic {
    font-size: 24px;
    color: #343a40;
}

button {
    margin-top: 20px;
}
